/*----------------------------------------------------------*/
/*----------------------------------------------------------*/
/*--------------------Big tablet to 1200px------------------*/
/*----------------------------------------------------------*/
/*----------------------------------------------------------*/


@media screen and (max-width: 1200px) {
    .row{
        width: 750px;
    }
    .header__nav--logo{
        margin-left: 50px;
        width: 250px;
    }
    .header__nav--menu ul{
        width: 450px;
        padding: 20px 0;
        margin-top: 10px;
    }
    .header__nav--menu li a{
        font-size: 90%;
    }
}
/*----------------------------------------------------------*/
/*----------------------------------------------------------*/
/*---------Smart phones(Horizontal) to small tablets--------*/
/*----------------------------------------------------------*/
/*----------------------------------------------------------*/

@media screen and (max-width: 767px){

}

/*----------------------------------------------------------*/
/*----------------------------------------------------------*/
/*----------------smart phone form 0 to 480px---------------*/
/*----------------------------------------------------------*/
/*----------------------------------------------------------*/

@media screen and (max-width: 480px){

}






