*{
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    color: gray;
    padding: 0;
    margin: 0;
}
html{
    border: 2px solid red;
    box-sizing: border-box;
}
body{
    border: 2px solid red;
}
h1, h2, h3{
    font-style: uppercase;
    letter-spacing: 2px;
    line-height: 1.4;
}
h1{
    padding: 10px;
    font-size: 400%;
    color: #fff;
}
.row{
    width: 70%;
    margin-left: 15%;
}
li{
    list-style: none;
}
a{
    color:#fff;
    text-decoration: none;
}
img{
    width: 100%;
}
/* .btn{
    background-color: orange;
    border-radius: 15px;
    padding: 15px;
    width: 100%;
} */
/*---------------------------------------------------------------------------*/
/*----------------------------------HEADER-----------------------------------*/
/*---------------------------------------------------------------------------*/

#nav-bar{
    /* border: 2px solid red; */
    background-image: linear-gradient(45deg,rgb(2,33,64,80%)55%,rgb(38,80,119,45%)), url(../img/background4.jpeg);
    background-size: cover;
    background-position: fixed;
    background-attachment: fixed;
    display: block;
    height: 100vh;
}
.header__nav{
    /* border: 2px solid red; */
    display: flex;
    height: auto;
    justify-content: space-between;
}
.header__nav--logo{
    /* border: 2px solid red; */
    width: 450px;
    margin-top: 20px;
    margin-left: 70px;
}
/* .header__nav--menu{
    border: 2px solid red;
} */
.header__nav--menu ul{
    /* border: 2px solid red; */
    display: flex;
    padding: 0 50px 0 0;
    margin: 20px auto 0;
}
.header__nav--menu li{
    /* border: 2px solid red; */
    margin: 20px;
}
.header__nav--menu li:hover,
.header__nav--menu li:active{
    transition: 0.5s;
    padding-bottom: 5px;
    border-bottom:5px solid #fff;
}
.header__nav--menu li a{
    /* color: #fff; */
    font-weight: 700;
    font-size: 120%;
}


.header__content{
    position: relative;
    top: 30%;
    left: 40%;
    transform: translate(-50%, -50%);
}
.header__content--btn li{
    display: inline-block;
    text-align: center;
    /* width: 160px; */
    border: 2px solid red;
}
.header__content--btn .btn{
    border: 2px solid red;
    width: 300px;
}


/*---------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------*/