*{
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    color: gray;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    /* border: 2px solid red; */
}
/* body{ 
    border: 2px solid red;
} */
section{
    /* border: 2px solid red; */
    padding: 40px;
}
h1, h2, h3{
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 1.4;
}
h1{
    padding: 10px;
    font-size: 400%;
    color: #fff;
}
h2{
    color: orange;
    font-size: 180%;
    font-weight: 800;
    display: block;
    margin: 0 auto;
}
h2::after{
    display: block;
    content: '';
    background-color: orange;
    height: 3px;
    width: 180px;
    margin: 0 auto 5%;
    opacity: 0.7;
}
h3{
    display: block;
    color: #fff;
    font-weight: 600;
}
p{
    color: #022140c4;
    font-size: 1.2em;
    text-align: center;
}
span{
    color: #fff;
}
.row{
    border: 2px solid red;
    width: 1200px;
    margin: 0 auto;
}
li{
    list-style: none;
}
a{
    display: block;
    color: #fff;
    text-decoration: none;
}
img{
    width: 100%;
}
.btn{
    background-color: orange;
    border-radius: 15px;
    padding: 15px;
    width: 100%;
    transition: 0.5s;
}
.btn:hover,
.btn:active{
    background-color: rgb(252, 92, 0);
}
/*---------------------------------------------------------------------------*/
/*----------------------------------HEADER-----------------------------------*/
/*---------------------------------------------------------------------------*/

#nav-bars{
    /* border: 2px solid red; */
    background-image: linear-gradient(45deg,rgb(2,33,64,80%)55%,rgb(2, 33, 64,45%)), url(../img/background4.jpeg);
    background-size: cover;
    background-position: fixed;
    background-attachment: fixed;
    display: block;
    height: 100vh;
}
.header__nav--menu .fas{
    display: none;
}
/*HEARDER NAV*/
.header__nav{
    /* border: 2px solid red; */
    display: flex;
    height: auto;
    justify-content: space-between;
}
.header__nav--logo{
    /* border: 2px solid red; */
    width: 430px;
    margin-top: 20px;
    margin-left: 70px;
}
/* .header__nav--menu{
    border: 2px solid red;
} */
.header__nav--menu ul{
    /* border: 2px solid red; */
    display: flex;
     justify-content: space-around;
    width: 700px;
    padding: 35px 0;
    margin: 10px auto 0;
}
.header__nav--menu li{
    /* border: 2px solid red; */
}
.header__nav--menu li:hover,
.header__nav--menu li:active{
    transition: 0.5s;
    padding-bottom: 5px;
    border-bottom:5px solid #fff;
}
.header__nav--menu li a{
    /* color: #fff; */
    font-weight: 700;
    font-size: 120%;
}

/*HEADER CONTENT*/
#nav-bars .row{
    height: 80vh;
}
.header__content{
    position: relative;
    top:50%;
    transform: translateY(-50%);
}
.header__content--btn li{
    /* border: 2px solid red; */
    display: inline-block;
    text-align: center;
    margin: 5px;
    /* width: 160px; */  
}
.header__content--btn .btn{
    /* border: 2px solid red; */
    display: block;
    width: 200px;
}

/*---------------------------------------------------------------------------*/
/*---------------------------------ABOUT US----------------------------------*/
/*---------------------------------------------------------------------------*/

#about{
    /* border: 2px solid red; */
    text-align: center;
}
.about__describe--content{
    width: 60%;
    margin: 0 auto 40px;
}
.about__describe--img{
    margin-top: 20px;
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-around;   
}
.about__describe--img .group-col{
    /* border: 2px solid red; */
    display: flex;
}
.about__describe--img .col{
    border: 7px solid rgb(202, 227, 250);
    border-radius: 15px;
    box-shadow: 0px 0px 20px 15px rgb(137, 180, 221);
    margin: 2%;
    position:relative;
}
.about__describe--img .col div{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(45deg,rgb(2,33,64,80%)35%,rgb(2, 33, 64,45%));
    border-radius: 8px;
    opacity: 0;
    position: absolute;
    transition: 0.5s;
}
.about__describe--img .col span{
    display: inline;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    width: 90%;
    transition: 0.5s;
}
.about__describe--img img{
    /* border: 2px solid red;    */
    height: 100%;
    /* border: 7px; */
    border-radius: 8px;
}
.about__describe--img .col:hover span{
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    border-left: 2px solid #fff;
    border-radius: 10px;
    color: #fff;
    width: 90%;
    padding: 3%;
}
.about__describe--img .col:hover div{
    opacity: 1;
}

/*---------------------------------------------------------------------------*/
/*---------------------------------PRODUCTS----------------------------------*/
/*---------------------------------------------------------------------------*/

#products{
    /* border: 2px solid red; */
    background-color: rgb(233, 233, 233);
    text-align: center;
}
.products__class{
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-between;
    height: 300px;
}
.products__class .col{
    /* border: 2px solid red; */
    display: block;
    background-color: rgb(202, 213, 223);
    width: 30%;
    height: 100%;
    border-radius: 10px;
    padding-bottom: 0;
}
.products__class .col h3{
    display: block;
    background-color: rgb(38,80,119);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-size: 1em;
    padding-top: 10px;
    height: 60px;
}
.products__class .col p{
    /* border: 2px solid red; */
    margin: 2%;
    font-size: 200%;
}
.products__class .col span{
    font-size: 80%;
    color: #022140c4;
}
.products__class--skill{
    /* border: 2px solid red; */
    display: block;
}
.products__class--skill li{
    /* border: 2px solid red; */
    display: block;
    margin: 10px 70px;
    text-align: left;
    color: #022140c4;
}
.products__class--skill li .fas{
    color: #022140c4;
    font-size: 130%;
}
.products__class .col .btn{
    display: block;
    width: 70%;
    margin-left: 15%;
    margin-top: 5%;
}

/*---------------------------------------------------------------------------*/
/*-------------------------------TESTIMANIALS--------------------------------*/
/*---------------------------------------------------------------------------*/

#testimanials{
    background-image: linear-gradient(45deg,rgb(2,33,64,80%)55%,rgb(45,95,93,45%)), url('../img/background2.jpeg');
    background-position: fixed;
    background-attachment:fixed;
    background-size: cover;
}
.testimanials__header{
    text-align: center;
}
.testimanials__comment{
    display: flex;
    justify-content: space-between;
}
.testimanials__comment .col{
    width: 30%;
}
.testimanials__comment .col blockquote::before{
    content: '\201C';
    display: block;
    margin-bottom: -70px;
    font-size:500%;
}
.testimanials__comment .col blockquote{
    color: #fff;
}
.testimanials__comment .col cite{
    margin: 20px auto;    
    display: flex;
    align-items: center;
}
.testimanials__comment .col cite img{
    width: 30%;
    border-radius: 50%;
}

/*---------------------------------------------------------------------------*/
/*---------------------------------SPONSORS----------------------------------*/
/*---------------------------------------------------------------------------*/

#sponsors{
    background-color: rgb(233, 233, 233);
}
.sponsors__header{
    text-align: center;
}
.sponsors__logo{
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-between;
}
.sponsors__logo .col{
    /* border: 2px solid red; */
    display: block;
    width: 30%;
    transform: scale(0.8);
    transition: 0.5s;
}
.sponsors__logo .col:hover{
    transform: scale(1);
}

/*---------------------------------------------------------------------------*/
/*---------------------------------CONTACTS----------------------------------*/
/*---------------------------------------------------------------------------*/
#contacts{
    background-image: linear-gradient(45deg,rgb(2,33,64,80%)55%,rgb(45,95,93,45%)),  url('../img/background5.jpeg');
    background-position: fixed;
    background-size: cover;
    background-attachment: fixed;
}
.contacts .row{
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-between;
}
.contacts__method, .contacts__mess{
    /* border: 2px solid red; */
    width: 50%;
}
.contacts__method--infor{
    margin: 70px auto;
}
.contacts__method--infor li{
    margin: 30px 0  0 30px;
    padding-left: 30px;
    display: flex;
    color: #fff;
}
.contacts__method--infor .fas{
    margin-right: 10px;
    font-size: 150%;
    color: #3d73a5;
    transition: 0.5s;
}
.contacts__method--infor .fas:hover{
    transform: scale(1.2);
}
.contacts__method--icons {
    border: 2px solid red; 
    display: flex;
    justify-content: space-around;
    width: 60%;
    margin: 20px auto;
}
.contacts__method--icons .fab{
    font-size: 300%;
    color: #fff;
    transition:0.5;
}
.contacts__method--icons .fab:hover{
    transform: scale(1.05);
    color: orange;
}
.contacts__mess{
    padding-top: 20px;
    background-color: rgb(0,0,0,20%);
    border-radius: 15px;
}
.contacts__mess .box{
    display: flex;
    padding: 15px 40px;
}
.contacts__mess .box .col1{
    width: 30%;
    font-size: 150%;
}
.contacts__mess .box .col2{
    /* border: 2px solid red; */
    flex: 1;
    width: 100%;
    border: 2px solid gray;
    border-radius: 5px;
    padding: 5px;
    background-color: rgb(0, 0, 0, 50%);
    color: #fff;
    transition: 1s;
}
.contacts__mess .box .col2:focus{
    background-image: none;
    background-color: black;
    color: white;
}
.contacts__mess--messages .col2{
    height: 100px;
}
.contacts__mess .btn{
    display: block;
    border: none;
    width: 300px;
    margin: 0 auto;
    color: rgb(0,0,0,60%);
    font-weight: 800;
}
/*---------------------------------------------------------------------------*/
/*---------------------------------CONTACTS----------------------------------*/
/*---------------------------------------------------------------------------*/

.footer{
    background-color: gray;
    color: #fff;
    padding: 10px;
    text-align: center;
}
